html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr; /* auto width, anything else takes remaining space */
    align-items: center; /* Vertically center content */
    background-color: red;
    color: #fff;
    padding: 6rem;
  
}

.nav {
    background: #39FF14;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.7rem 0.7rem;
    flex-wrap: wrap;
    flex: 1 1 auto;
    &-wrap {
             max-width: 1920px;
  }
  &_list {
      padding: 0;
      margin: 0 auto;
      list-style:none;
      text-align: center;
  }
  &_item {
      display:inline-block;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      margin-right: 2rem;
      &:last-of-type{
          margin: 0;
      }
  }
  &_link {
      color: white;
    }
  }
  

.flex-container {
  display:flex;
  height:21rem;
  width:100%;
  background-color:pink;
  flex-wrap:no-wrap;
}
.flexbox-left{
  width:20%;
  height:21rem;
  background-color:purple;
  flex-wrap:no-wrap;
}
.flexbox-right{
  width:90%;
  height:21rem;
  background-color:orange;
  flex-wrap:no-wrap;
}


/* The sidebar menu */
.sidenav {
  height: 20rem; /* Full-height: remove this if you want "auto" height */
  width: 10rem; /* Set the width of the sidebar */
  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 0;
  background-color: purple; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1rem;
}
.main {
  height:4rem;
  margin-left: 1rem; /* Same as the width of the sidebar */
  padding: 2rem 1rem;
   background-color: none;
 
}


.footer {
    display: grid;
    grid-template-columns: auto 1fr; /* auto width, anything else takes remaining space */
    align-items: center; /* Vertically center content */
    background-color: blue;
    color: #fff;
    padding: 1rem;
}

  