html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

 

.container{
    height:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content:start;
    align-items:start;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-bottom:0.5em;   
}

.flex-box1{
    height:auto;
    width:100%;
    display:flex;
    flex-direction: row;
    background-color: $white;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-bottom:0.5em;  
    border:3em solid $steel;
  
}
.flex-box2{
    height:auto;
    width:20%;
    border: none;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom:0.5em;  
}


.flex-box3{
    height:25em;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border: none;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom:0.5em; 
    background-color: $white;
    
}

.mini-container{
    height:auto;
    display:flex;
    flex-wrap:nowrap;
    width: 70%;
    margin: 1em 1em 1em 1em;
    background-color:$gray;
}


.flex-box-title{
    height:3em;
    width:5em;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    border: none;
  
    
}

.flex-box-detail{
    height:2.5em;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    border: none;
  
    
}




h1 {
    color: $steel;
}
@mixin size($width,$height: $width) {
    width:$width;
    height:$height;
}

//.square {@include size (30em);background: $gray;}??Use flexbox instead with background color.


h4{
    color:$steel;

}

@mixin important-text {
    font-weight: bold;
}

.social-media{
    @include important-text;
}

@mixin tilt-text {
    font-style:italic;
    font-weight:normal;
}

.slant-text{
    @include tilt-text;
}
p { 
    color:$steel;
}


@media screen and (max-width: 767px) {
    .flex-box1 {
      height:90em; 
      width:80em; 
      flex-direction: column;
      flex-wrap: nowrap;
      margin-left:2em
    }
    
  
    .flex-box2 {
        width:20.5em;
      }
    .flex-box3 {
        width:20.5em;
      }


  }

  .round {
    width:10em;
    height:10em;
    border-radius:50%;
    
}
