html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

h1 {
    color: $steel;
}
@mixin size($width,$height: $width) {
    width:$width;
    height:$height;
}

.square {@include size (500px);
background: $gray;}

p{
    color:$steel;
}