html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

.container{
    height:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    justify-content:start;
    align-items:start;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-bottom:0.5em;   
}

.flex-box1{
    height:auto;
    width:100%;
    display:flex;
    flex-direction: row;
    background-color: $white;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-bottom:0.5em;  
    border:3em solid $steel;
  
}
.flex-box2{
    height:auto;
    width:20%;
    border: none;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom:0.5em;  
}
.container{
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content:start;
    align-items:start;
    margin-top: 0.5em;
    margin-right: 2em;
    margin-bottom:0.5em;   
}

.flex-box3{
    height:auto;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border: solid $blue 1px;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom:0.5em; 
    background-color: $white;
    
}

.mini-container{
    height:auto;
    display:flex;
    flex-wrap:wrap;
    width: 70%;
    margin: 1em 1em 1em 1em;
    background-color:$gray;
}


.flex-box4{
    height:5em;
    width:30%;
    border: solid $red 1px;
  
    
}

.flex-box5{
    height:5em;
    width:30%;
    border: solid $green 1px;
  
    
}
.flex-box6{
    height:3em;
    width:40%;
    border: solid $black 1px;
  
    
}



h1 {
    color: $steel;
}
@mixin size($width,$height: $width) {
    width:$width;
    height:$height;
}

//.square {@include size (30em);background: $gray;}

p{
    color:$steel;
}

@mixin important-text {
    font-weight: bold;
}

.social-media{
    @include important-text;
}